In [103]:
import pandas as pd

#### Generate Data

In [104]:
d1 = {'file': ['study1.txt']*2, 
     'mz': [89.1, 90.2],
     'kegID': range(2)}
d2 = {'file': ['batch2.txt']*3, 
     'mz': [300.45, 80.1, 90.2],
     'kegID': range(4, 7)}
d3 = {'file': ['batch3.txt']*3, 
     'mz': [300.45, 80.1, 90.2],
     'kegID': range(4, 7)}
d4 = {'file': ['batch4.txt']*3, 
     'mz': [30.45, 0.1, 90.2],
     'kegID': range(5, 8)}
d5 = {'file': ['batch5.txt']*3, 
     'mz': [3.45, 8.1, 90.2],
     'kegID': range(1, 4)}

#### Import data to pandas dataframes

In [105]:
d1 = pd.DataFrame(data=d1)
d2 = pd.DataFrame(data=d2)
d3 = pd.DataFrame(data=d3)
d4 = pd.DataFrame(data=d4)
d5 = pd.DataFrame(data=d5)

#### Row-wise merge all files to one dataframe

In [106]:
dfs = [d1, d2, d3, d4, d5]
df_merged = pd.DataFrame()

for df in dfs:
    df_merged = df_merged.append(df) # = df, how = 'right')]

df_merged

         file      mz  kegID
0  study1.txt   89.10      0
1  study1.txt   90.20      1
0  batch2.txt  300.45      4
1  batch2.txt   80.10      5
2  batch2.txt   90.20      6
0  batch3.txt  300.45      4
1  batch3.txt   80.10      5
2  batch3.txt   90.20      6
0  batch4.txt   30.45      5
1  batch4.txt    0.10      6
2  batch4.txt   90.20      7
0  batch5.txt    3.45      1
1  batch5.txt    8.10      2
2  batch5.txt   90.20      3

#### Find mz's that show up in more than one file

In [107]:
common_mz = df_merged['mz'].value_counts() > 1
common_mz

90.20      True
300.45     True
80.10      True
30.45     False
0.10      False
89.10     False
8.10      False
3.45      False
Name: mz, dtype: bool

In [108]:
common_mz = common_mz[common_mz == True].index.to_list()
common_mz

[90.2, 300.45, 80.1]

#### Pull out these shared mz's from all files

In [109]:
df_merged.loc[df_merged['mz'].isin(common_mz)].sort_values(by='mz')

         file      mz  kegID
1  batch2.txt   80.10      5
1  batch3.txt   80.10      5
1  study1.txt   90.20      1
2  batch2.txt   90.20      6
2  batch3.txt   90.20      6
2  batch4.txt   90.20      7
2  batch5.txt   90.20      3
0  batch2.txt  300.45      4
0  batch3.txt  300.45      4